*{

	margin: 0px;
	padding: 0px;



}

body{

	background-image: url('images/bheart.jpg');
	background-size: 100%;
	background-repeat:repeat;




}

/*Parte de Cima da Página*/

.toptext{
	
	background: #59000a;
	font-family: verdana;
	color: white;
	font-weight: 900;
	display: flex;
	justify-content: center;
	padding: 10px;

}


.heart{
	background: #59000a;
	margin-left: 20px;
	width: 30px;
	animation: go-back 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}



.navbarcenter{
	justify-content: center;
	display: flex;


}


.navtext{
	
	font-family: Arial;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	width: 130px;
	padding: 10px;
	border-radius: 30px;
	background: red;
	margin: 30px;
	transition: 0.2s ease-in-out 0s;

}

.navtext1{
	
	font-family: Arial;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	width: 130px;
	padding: 5px;
	border-radius: 30px;
	background: red;
	margin: 10px;
	transition: 0.2s ease-in-out 0s;
	position: fixed;
	bottom: 150px;
	right: 20px;

}
.navtext2{
	
	font-family: Arial;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	width: 130px;
	padding: 5px;
	border-radius: 30px;
	background: red;
	margin: 10px;
	transition: 0.2s ease-in-out 0s;
	position: fixed;
	bottom: 100px;
	right: 20px;

}
.navtext3{
	
	font-family: Arial;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	width: 130px;
	padding: 5px;
	border-radius: 30px;
	background: red;
	margin: 10px;
	transition: 0.2s ease-in-out 0s;
	position: fixed;
	bottom: 50px;
	right: 20px;

}





.navtext1:hover{

	background: #400f03;
	transform: scale(1.2);

}
.navtext2:hover{

	background: #400f03;
	transform: scale(1.2);

}
.navtext3:hover{

	background: #400f03;
	transform: scale(1.2);

}

/*Fim parte de cima da página*/

/*Conteúdo da página*/
.contentinicio{
	
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	padding: 50px;
	align-items: center;


	
}

.textpinicial{
	
	font-size: 50px;
	padding: 30px;
	font-weight: 900;
	color: white;
	font-family: Bradley Hand, cursive;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
	animation: lado 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.bhearts{


	filter: drop-shadow(3px 3px);
	animation: go-back 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;


}

.textpinicial2{
	
	font-size: 20px;
	padding: 30px;
	font-weight: 900;
	color: white;
	font-family: Bradley Hand, cursive;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em red;
	animation: lado 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.video{

	justify-content: center;
	display: flex;
	padding: 20px;

	
}

.contentmensagem{

	margin: 200px;
	justify-content: center;
	align-items: center;
	display: inline-block;
	background-image: url("images/bheart2.jpg");
	background-size: 100%;
	border-style: solid;
	border-color: darkred;
	border-radius: 20px;

}

.heart2{
	position: relative;
	left: 7	00px;
	margin-left: px;
	width: 200px;
	animation: go-back 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	filter: drop-shadow(3px 3px);

}


.tittle{

	font-size: 15px;
	padding: 30px;
	font-weight: 900;
	color: white;
	font-family: Bradley Hand, cursive;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
	
}

.textpinicial3{
	
	font-size: 100px;
	margin: 100px;
	font-weight: 900;
	color: white;
	font-family: Bradley Hand, cursive;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
	display: flex;
	justify-content: center;

}

.contenthistoria{

	margin-bottom: 100px;
	margin-left: 20px;
	margin-right: 250px;
	justify-content: center;
	align-items: center;
	display: inline-block;
	background: white;
	background-size: 100%;
	padding: 20px;
	border-radius: 10px;
	filter: drop-shadow(3px 3px);
}


/*Fim do conteúdo da página*/

/*Rodapé da página*/

.rodape{
	
	background: #59000a;
	font-family: verdana;
	color: white;
	font-weight: 900;
	display: flex;
	justify-content: center;
	padding: 10px;

}

/*Fim do rodapé da página*/

/*Animações*/
@keyframes go-back{

	0%{

		transform: scale(1.0);

	}

	100%{

		transform: scale(1.2);

	}
}
@keyframes lado{

	0%{

		transform: translateX(10px);
	}

	100%{

		transform: translateX(50px);

	}

}

html ::-webkit-scrollbar {
	width: 8px;
}

html ::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: red;
}

html ::-webkit-scrollbar-track {
	background: #664102;
}